header{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}
header.flex nav{
    background-color: var(--bgheader);
    padding: 0.77rem 1.6rem;
    border-radius:55px ;
    box-shadow:1px 1px 1px rgba(73, 65, 65)  ;
}
header ul.flex{
    gap:  16px;
}
header ul li a{
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;

}
header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: 0.9;

  
}
header button{
  font-size: 1.2rem;
}

header.flex .menu{
    display: none;
}

/*=================================
    pop up  
==================================*/
header .fixed{
    position: fixed;
    inset :0;  /*top / right /bottom / left */
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.91);


}


header .fixed ul.model{
  
   width:85% ;
   margin-left: auto;
   margin-right:auto ;
   margin-top: 2rem;
   border-radius: 1rem;
   padding: 1rem 2rem;
   background-color: var(--secondary);
   animation: menuAnimation 0.7s 1;

}

@keyframes menuAnimation {
    0%   { scale: 0;}
    0%   { scale: 1.2;}
    100%   { scale: 1;}
   
  } 

/*=================================
/*none boreder last li
==================================*/
header .fixed ul.model li:last-child{
 border-bottom: none;
 padding-bottom: 0.77rem;
 padding-top: 0.5rem;

}
header .fixed ul.model li{
 border-bottom: var(--border) 1px solid ;
 padding-bottom: 0.77rem;
 padding-top: 0.5rem;

}
header .fixed ul.model li e{
font-size: 10rem;

}

/*=================================
 btn Close sandwich Menu
==================================*/
header .fixed ul.model li:first-child{
text-align: right;
border: none;
padding-bottom: 0.77rem;
padding-top: 0.5rem;
}

/*=================================
iconHeader
==================================*/

header.flex .fa-solid.fa-bars,
header  .fa-solid.fa-moon.fa-2x {
 background-color:var(--bgheader) ;
 height: 2rem;
 width: 2rem;
 text-align: center;
border-radius: 50%;
color: var(--title);
border: 1px solid rgba(244, 165, 96, 0.249);
}
/*=================================
iconHeader Hover
==================================*/
header.flex .fa-solid.fa-bars:hover,
header  .fa-solid.fa-moon.fa-2x:hover {
    color: var(--title);
    border: 1px solid rgba(244, 165, 96);
    cursor: pointer;
    transition: 0.2s;

}

.icon-close{
  font-size: 1rem;
  color:var(--title) ;

 }
.icon-close:hover{
  font-size: 1.3rem;
  transition: 0.3s;
  color: crimson;
  rotate: 180deg;


 }


/*=================================
Responsive desubg media query
==================================*/

@media(max-width : 700px){
    header.flex nav{
        display: none;
    }
    header.flex button.menu{
        display: block;
    }
    
   

    
}

